/*
 *This file will be loaded into the DOM of the webpage a user visits because it is included in the manifest.json file as a `content_script`
 */

body {
  margin-left: 75px;
}

a {
  position: relative;
}

a[href$=".txt"]:before {
  color: #333;
  content: "\0020";
  display: block;
  font-size: 1em;
  font-family: monospace;
  left: 0;
  letter-spacing: 0.075em;
  margin-left: -62px;
  margin-top: 1px;
  position: absolute;
}

a[href$=".txt"] {
}
